html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.body--backgroundImage {
    background-image: url("https://www.careersinpoland.com/media/file/articles/thumbs/950x540_money-in-poland-a-quick-guide-to-polish-currency.jpg");

}

.form {
    max-width: 500px;
    margin: 10px auto;
}

.form__fieldset {
    border: 4px solid rgb(219, 92, 23);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px -1px 14px 1px #b13d3d87;
    background-color: rgb(250, 249, 249);
}

.form__legend {
    background-color: rgb(253, 126, 67);
    color: white;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    font-size: larger;
    outline: 2px solid rgb(144, 55, 14);
}

.form__button {
    display: block;
    margin: 20px auto;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 89, 0);
    color: white;
    font-weight: bolder;
    padding: 20px;
    font-size: larger;
}

.form__label {
    font-size: larger;
    font-weight: bolder;
}

.form__input {
    text-decoration: none;
    margin: 10px auto 0;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgba(128, 128, 128, 0.19);
    display: inline-block;
    width: 100%;
}

.form__select {
    margin: 10px auto 0;
    padding: 12px;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
    border: none;
    background-color: rgba(128, 128, 128, 0.19);
}

.form__input--radio {
    margin: 10px;
}

.form__span--radio {
    text-decoration: none;
    font-weight: normal;
    font-size: smaller;
}

.form__paragraph {
    margin: 15px auto;
    text-align: center;
}

.form__paragraph--larger {
    font-size: xx-large;
    color: rgb(203, 0, 0);
    font-weight: bolder;
}

.form__paragraph--light {
    font-weight: lighter;
    font-style: italic;
}

.form__strong {
    text-decoration: underline;
}